.product-card {
  width: 220px;
  margin: 1rem;
}

.product-img {
  width: 220px;
  height: 270px;
}

.product-brand {
  font-size: small;
  font-weight: bold;
  color: rgba(68, 68, 68, 0.692);
  text-align: left;
  margin: 0.2rem 0.5rem;
}

.product-title {
  font-size: large;
  color: rgba(36, 36, 36, 0.884);
  text-align: left;
  margin: 0.2rem 0.5rem;
}

.product-pricing {
  display: flex;
  margin: 0.2rem 0.5rem;
  text-align: left;
}

.product-price {
  margin: 0.2rem 0.1rem;
  font-weight: bold;
  color: rgb(41, 41, 41);
}

.product-mrp {
  margin: 0.35rem 0.1rem 0 0.1rem;
  font-size: 12px;
  color: rgba(41, 41, 41, 0.822);
  text-decoration: line-through;
}

.product-discount {
  margin: 0.35rem 0.1rem 0 0.1rem;
  font-size: 12.5px;
  color: rgba(0, 128, 0, 0.815);
}

.add-to-cart{
  
}
